:root{
    --base-padding: 1em;
    --twitter-color: #1DA1F2;
    --javascript-color: #F0DB4F;
    --angular-color: #dd1b16;
    --html-color: #e34c26;
}



.github-item a {
    color: #9381FF;
}

.white {
    color: var(--white);
}

.github-item p {
    margin: 0;
}

.github-item {
    background-color: var(--grey) ;
    color: var(--black);
    border: 1px var(--black) solid;
    padding: .5em;
    border-radius: 4px;
    font-size: .75em;
}

.twitter {
    color: var(--twitter-color);
}

.javascript{
    color: var(--javascript-color);
}

.angular {
    color: var(--angular-color);
}

.html{
    color: var(--html-color);
}

.purple {
    color: #9381FF;
}

.green{
    color: var(--green);
}

.btn {
    background-color: #B8B8FF;
    border: none; 
    color: white; 
    padding: 12px; 
    cursor: pointer; 
    transition-duration: 0.3s;
    border-radius: 50%;
    transition-property: color;
}
  .btn:hover {
      background-color: #9381FF;
}

.pagenumbers button{
    background-color: #B8B8FF;
    border: none; 
    color: white; 
    padding: 12px; 
    cursor: pointer; 
    transition-duration: 0.3s;
    transition-property: color;
}
.pagenumbers .active{
    background-color: #9381FF;
}



.landing {
    display: grid;
    padding: var(--base-padding);
}

.landing-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

#technology{
    padding: var(--base-padding);
}

.technologies-list{
    display: grid;
    grid-template-columns: 1fr;
}

.technology-item {
    padding: 1em;
}

.education-item{
    padding: .5em;
}

#education {
    padding: var(--base-padding);
}

#projects {
    padding: var(--base-padding);
}
.landing-image, img{
    /* max-width: 100%; */
    margin-top: 1em;
}

#project-list{
    display: flex;
    flex-direction: column;
    
}
.project-item .item
{
    padding: 10px;
}
.github-item-metadata{
    display: flex;
    align-content: center;
    flex-direction: row;
}
.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

  .text-input__loading--line {
    margin: 10px;
    -webkit-animation: pulse 1s infinite ease-in-out;
            animation: pulse 1s infinite ease-in-out;
  }

  .text-input__loading--line:empty {
    margin: 10px;
    height: 10px;
    -webkit-animation: pulse 1s infinite ease-in-out;
            animation: pulse 1s infinite ease-in-out;
  }

  .github-item div:nth-child(1) {
    width: 25%;
  }
  .github-item div:nth-child(2) {
    width: 150px;
  }

@-webkit-keyframes pulse {
    0% {
      background-color: rgba(165, 165, 165, 0.1);
    }
    50% {
      background-color: rgba(165, 165, 165, 0.3);
    }
    100% {
      background-color: rgba(165, 165, 165, 0.1);
    }
  }
  
  @keyframes pulse {
    0% {
      background-color: rgba(165, 165, 165, 0.1);
    }
    50% {
      background-color: rgba(165, 165, 165, 0.3);
    }
    100% {
      background-color: rgba(165, 165, 165, 0.1);
    }
  }
  
@media (prefers-color-scheme: dark) { 
    body{
        background-color: var(--black);
        color: var(--white);
    }
    .github-item{
        color: var(--white);
        background-color: #2C2C2C;
    }
  }
  

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}

@media (min-width: 576px) { 
    .github-item{
        font-size:.75em;
    }
    .technologies-list{
        grid-template-columns: 1fr;
    }
    .landing{
        grid-template-columns: 1fr;
    }
    .technology-item {
        padding: 0;
    }
    /* .github-item-metadata{
        flex-direction: column;
    } */
 }


@media (min-width: 768px) {
    .github-item{
        font-size: 1em;
    } 
    .technologies-list{
        grid-template-columns: 1fr 1fr;
    }
    .technology-item {
        padding: .5em;
    }
}


@media (min-width: 992px) {
    .github-item{
        font-size: 1.25em;
    }
    .landing {
        grid-template-columns: 1fr 1fr;
    } 
    .technologies-list{
        grid-template-columns: 1fr 1fr;
    }
}


@media (min-width: 1200px) {
    .github-item{
        font-size: 1.25em;
    }
    .landing {
        grid-template-columns: 1fr 1fr;
    } 
    .technologies-list{
        display: grid;
        grid-template-columns:  
        [col] 1fr
        [col] 1fr
        [col] 1fr
        [col] 1fr;
    }
 }

