@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap");

:root{
  --yellow: #FFE66D;
  --red: #FF6B6B;
  --white: #F6F7EB;
  --blue: #80CED7;
  --black:  #292F36;
  --green: #6cbe45;
  --purple: #6320EE;

   /* Base spacing unit. */
   --spacing-unit: 6px;

   /* Margin size. No unit, because it's a multiple of the spacing unit. */
  --margins: 2;
}

* {
    box-sizing: border-box;
  }
body{
    margin: 0;
    font-family: 'Montserrat';
    /* background-color: var(--black) ; */
  }
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white);
    color: var(--black);
    padding: 1em;
    /* position: fixed; */
    /* width: 100%; */
  }
  
  header a{
      color: var(--black);
  }
  
  header .logo {
    font-weight: bold;
  }
  
  .logo-wrapper {
      display: flex;
  }
  .logo-words {
      display: flex; 
      flex-direction: column;
  }
  .logo-word {
      margin: 0px;
      font-weight: bold;
  }
  header ul {
    display: flex;
  }
  header ul li a {
    padding: 0 .6em;
  }
  a {
    color: white;
    text-decoration: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .wrapper {
    padding: 1.5em;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .list-display{
    display:flex;
    flex-direction: row;
    width: 100%;
  }

  .list-content{
    width: 100%;
  }
  
  .list-header{
    max-width: 33%;
  }

  h2{
    margin:0;
  }